<div class="flex flex-col lg:flex-row items-center mt-6 md:mt-10 gap-10 mb-12 text-xl lg:text-base">
    <div class="w-full max-w-xl p-4 overflow-hidden rounded-lg bg-general dark:bg-general-dark">
        <img loading="lazy" src="../../../assets/img/products/{{productData.image}}.png"
            alt="Imagen del producto {{productData.name}}"
            class="h-full w-full aspect-auto object-cover object-center group-hover:opacity-75">
    </div>

    <div class="flex flex-col mt-5 justify-center">
        <div>
            <h2 class="text-4xl lg:text-2xl font-medium">
                {{productData.name}}
            </h2>

            <hr class="mt-2 border-black dark:border-zinc-400">

            <p class="my-4 lg:text-xl">S/ {{productData.sale_price}}</p>

            <div class="flex items-center gap-4">
                <div class="flex items-center">
                    <button class="bg-gray-400 dark:bg-neutral-700 text-center flex items-center p-1.5 rounded-md"
                        (click)="removeQuantity()">
                        <mat-icon class="w-0">remove</mat-icon>
                    </button>
                    <p class="mx-3">{{quantity}}</p>
                    &nbsp;
                    <button class="bg-gray-400 dark:bg-neutral-700 text-center flex items-center p-1.5 rounded-md"
                        (click)="addQuantity()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>

                <div>
                    <p>Stock: {{productData.stock}}</p>
                </div>
            </div>


        </div>

        <div class="my-6">
            <button class="bg-buttons hover:bg-buttons-hover dark:bg-buttons-dark 
                px-5 py-2 lg:px-0 rounded-md text-lg w-full md:w-80" (click)="addShoppingCart()">
                Agregar al carrito
            </button>
        </div>

        <div class="md:w-product-descrition">
            <h3 class="text-3xl lg:text-lg">Descripción:</h3>
            <p>{{productData.description}}</p>
        </div>
    </div>
</div>