<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="w-full mt-10 dark:bg-component-dark">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnNamesDisplay">
        <th mat-header-cell *matHeaderCellDef class="text-base font-bold dark:text-white"> {{columnMapping[column] ||
            column}} </th>
        <td mat-cell *matCellDef="let element" class="dark:text-white"> {{element[column]}} </td>
    </ng-container>

    <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions" class="text-base font-bold dark:text-white">
            Detalles</th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element);
                     $event.stopPropagation(); getDetails(element.id)">
                <mat-icon class="dark:text-white">{{expandedElement === element ? 'keyboard_arrow_up' :
                    'keyboard_arrow_down'}}</mat-icon>
            </button>
        </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
            <div class="overflow-hidden" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <ul class="md:grid md:grid-cols-2 gap-x-5">
                    <li *ngFor="let item of detailData" class="w-full px-5">
                        <div class="flex items-center flex-col md:flex-row md:gap-5">
                            <img src="../../../../assets/img/products/{{item.products.image}}.png"
                                alt="imagen del producto {{item.products.name}}"
                                class="bg-general dark:bg-general-dark rounded-md my-3 h-fit md:w-1/3">

                            <div class="my-2 md:my-5 mx-3 text-lg md:text-base dark:text-white">
                                <p><span class="font-semibold">Nombre:</span> {{item.products.name}}</p>
                                <p><span class="font-semibold">Cantidad:</span> {{item.quantity}}</p>
                                <p><span class="font-semibold">Talla:</span> {{item.products.size}}</p>
                                <p><span class="font-semibold">Sub Total:</span> S/ {{item.subTotal}}</p>
                            </div>
                        </div>

                        <hr *ngIf="detailData.length > 2 && item !== detailData[detailData.length - 1]"
                            class="border-black w-full">
                    </li>
                </ul>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
</table>

<mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons
    class="mb-6 dark:bg-component-dark dark:text-white"></mat-paginator>