<div class="pt-28 flex justify-center items-center">
    <div class="flex justify-center items-center bg-white rounded-lg p-8">
        <div class="w-full max-w-md">
            <div class="flex flex-col items-center">
                <h1 class="text-2xl font-bold">Recuperar contraseña</h1>
                <p class="text-gray-500 mt-2 text-center">Ingresa tu correo electrónico para recuperar tu contraseña</p>
            </div>
            <form class="mt-8" [formGroup]="recoveryPasswordForm" (ngSubmit)="sendEmail()">
                <div class="flex flex-col gap-4">
                    <mat-form-field class="mb-4 dark:text-white">
                        <mat-label class="dark:text-white">Correo</mat-label>
                        <input matInput placeholder="Ex. correo@mail.com" formControlName="username" required>
                        <mat-error>{{getErrorMessageEmail()}}</mat-error>
                        <mat-icon matSuffix>mail</mat-icon>
                    </mat-form-field>

                    <button mat-raised-button color="primary" class="w-full" type="submit"
                        [disabled]="recoveryPasswordForm.invalid">
                        Enviar
                    </button>

                    <button mat-raised-button color="warn" class="w-full" type="button" (click)="showLogin()">
                        Regresar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>