<nav class="bg-general dark:bg-general-dark 
    flex flex-col items-center md:flex-row md:justify-between md:px-24" id="navbar">
    <div class="size-fit my-2">
        <picture>
            <source srcset="../../../../assets/img/general/logo.avif" type="image/avif">
            <source srcset="../../../../assets/img/general/logo.webp" type="image/webp">
            <source srcset="../../../../assets/img/general/logo.png" type="image/png">
            <img loading="lazy" class="max-w-44" src="../../../../assets/img/general/logo.png" alt="Logo de la empresa">
        </picture>
    </div>

    <div class="flex md:flex-row gap-8">
        <button mat-icon-button>
            <a [routerLink]="['/home']" class="flex justify-center items-center">
                <mat-icon class="text-4xl">home</mat-icon>
            </a>
        </button>

        <button mat-icon-button (click)="showShoppingCart()">
            <mat-icon class="text-4xl">shopping_cart</mat-icon>
        </button>

        <button *ngIf="token; else elseBlock" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon class="text-4xl">account_circle</mat-icon>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Mi perfil</button>
                <button mat-menu-item (click)="logout()">
                    Logout
                </button>
            </mat-menu>
        </button>

        <ng-template #elseBlock>
            <button mat-icon-button>
                <a [routerLink]="['/login']" #elseBlock class="flex justify-center items-center">
                    <mat-icon class="text-4xl">login</mat-icon>
                </a>
            </button>
        </ng-template>
    </div>
</nav>

<app-shopping-cart id="shopping-cart" class="hidden" [token]="token"></app-shopping-cart>