<div class="lg:flex justify-center items-center h-screen">
  <div class="w-full flex flex-col gap-10 lg:flex-row lg:gap-0 lg:justify-center py-8 ">
    <div
      class="lg:w-5/12 bg-general dark:bg-general-dark rounded-xl lg:rounded-l-xl lg:rounded-tr-none lg:rounded-br-none">
      <div class="py-4 mx-5">
        <picture>
          <source srcset="../../../../assets/img/general/logo.avif" type="image/avif">
          <source srcset="../../../../assets/img/general/logo.webp" type="image/webp">
          <img loading="lazy" src="../../../../assets/img/general/logo.png" alt="Logo de la empresa">
        </picture>
      </div>

      <div class="hidden max-w-72 mx-auto pb-8 lg:block">
        <picture>
          <source srcset="../../../../assets/img/login/login.avif" type="image/avif">
          <source srcset="../../../../assets/img/login/login.webp" type="image/webp">
          <img loading="lazy" src="../../../../assets/img/login/login.png" alt="Imagen de login">
        </picture>
      </div>
    </div>
    <div
      class="bg-white dark:bg-component-dark p-4 lg:p-0 flex flex-col justify-center rounded-xl lg:rounded-r-xl lg:rounded-bl-none lg:rounded-tl-none">
      <div class="flex flex-col gap-4 lg:gap-8">
        <div class="my-5">
          <h1 class="login-tittle text-center font-bold text-4xl lg:text-5xl lg:mx-16 dark:text-white">
            Bienvenido de vuelta
          </h1>
        </div>

        <div>
          <form [formGroup]="Loginform" (ngSubmit)="loginSubmit()">
            <div class="flex flex-col mx-6 lg:mx-14">
              <mat-form-field class="mb-4 dark:text-white ">
                <mat-label class="dark:text-white">Correo</mat-label>
                <input matInput class="dark:placeholder:text-white" placeholder="Ex. correo@mail.com"
                  formControlName="username" required>
                <mat-error>{{getErrorMessageEmail()}}</mat-error>
                <mat-icon matSuffix>mail</mat-icon>
              </mat-form-field>

              <div class="mb-4">
                <mat-form-field class="w-full dark:text-white">
                  <mat-label class="dark:text-white">Contraseña</mat-label>
                  <input matInput class="dark:placeholder:text-white" placeholder="Ex. **************"
                    formControlName="password" required [type]="hide ? 'password' : 'text'">
                  <mat-error class="">{{getErrorMessagePassword()}}</mat-error>
                  <mat-icon matSuffix><button type="button"
                      (click)="togglePasswordVisibility()">password</button></mat-icon>
                </mat-form-field>
                <a (click)="showRecoveryPassword()" class="lg:text-sm login-url dark:text-gray-400">¿Has olvidado tu
                  constraseña?</a>
              </div>

              <div class="mt-7 mb-6">
                <button mat-raised-button type="submit"
                  class="w-full bg-buttons btn-text hover:bg-buttons-hover dark:text-white">Ingresar</button>
                <p class="mt-2 lg:text-sm">¿Eres nuevo aquí?, <a (click)="showRegister()"
                    class="login-url dark:text-gray-400"> Crea
                    una cuenta ahora</a></p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>