@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
:root {
  --ubuntu-mono: "Ubuntu Mono", monospace;
  --raleway: "Raleway", sans-serif;
  --noto-serif-display: "Noto Serif Display", serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main-container {
  width: min(90%, 75rem);
  margin: 0 auto;
}

.login-tittle {
  font-family: var(--ubuntu-mono)
}

.login-url {
  color: rgb(75 85 99);
}

.login-url:hover {
  cursor: pointer;
  color: rgb(8 145 178)
}

.btn-text {
  font-size: 1rem;
}


/* En tu archivo de estilos CSS (por ejemplo, styles.css) */
.custom-close-button-text .mat-button-wrapper {
  color: white; 
}
